<div class="main-wrapper">
  <header>
    <div><span>1 USD = {{resultUsd}} UAH</span></div>
    <div><span>1 EUR = {{resultEur}} UAH</span></div>
  </header>
  <section class="main-container">
    <div class="first-currency">   
      <select #c1 name="" id="country1" (mouseleave)="changebase(c1.value)" (mouseleave)="convert1()">
        <option value="USD">$ USD</option>
        <option value="EUR">€ EUR</option>
        <option value="UAH">₴ UAH</option>
      </select>
      <input type="number" min="0" #curr1 (keyup)="tocurr(curr1.value)" value={{result2}} (keyup)="convert1()" ng-model="convert()">
    </div>
    <div class="second-currency">
      <select #c2 name="" id="country1" (mouseleave)="tocountry(c2.value)" (mouseleave)="convert1()">
        <option value="USD">$ USD</option>
        <option value="EUR">€ EUR</option>
        <option value="UAH">₴ UAH</option>
      </select>
      <input  type="number" min="0" #curr2 (keyup)="tocurr(curr2.value)" (keyup)="convert2()" value={{result1}} ng-model="convert()">
    </div>
  </section>
</div>
